:root {
  /* CSS Variables for all the font colors and sizes. Try changing these! */
  --header-background: #006d77;
  --header-text-color: #ffddd2;
  --header-font-size: 1rem;
  --square-font-size: calc(1 * var(--header-font-size));
  --square-text-color: #b4c5d9;
  --square-background-color: #23415c;
  --background-color: #151c30;
  --square-border: 3px solid var(--square-text-color);

  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

header {
  background: var(--header-background);
  color: var(--header-text-color);
  font-size: var(--header-font-size);
  padding: 1rem;
  text-align: center;
}
body {
  min-height: 100%;
  background-color: var(--background-color);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  margin-inline: 15rem;
  // border: 5px solid red;
}
.centered {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-inline: 5rem;
  // border: 5px solid red;
}

.button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
table {
  // border-collapse: collapse;
  border-spacing: 0;
  width: 10%;
  position: relative;
}
tbody {
  display: table;
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  border-color: var(--square-text-color);
}
td {
  border: 2px solid var(--square-text-color);
  // padding: 1.4rem;
  width: 32px;
  height: 32px;
  font-size: var(--square-font-size);
  color: var(--square-text-color);
  background-color: var(--square-background-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
p {
  margin: 1rem;
  margin-inline: auto;
  padding: 0 5rem;
}
.diffButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: auto;
  padding: 0 5rem;
}
.diffButton button {
  font: bold 1rem sans-serif;
  background-color: var(--square-background-color);
  color: var(--header-text-color);
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  border-style: none;
}
